#chartContainer {
	margin: 0 auto;
	width: 400px;
	background: none;
}

#resultChart{
	width: 400px;
	height: 400px;
}


body{
	background-color: rgb(200,200,200);
	font-family: arial;
}


td{
	/*padding: 5px 15px 5px 15px;*/
	/*border: 1px solid blue;*/
}

a{
	color: rgb(50,50,255);
	text-decoration: none;
}
a:hover{
	color: rgb(250,150,0);
}

h1{
	color: rgb(0,0,200);
	margin: 0;
	padding: 0;
	font-size: 16pt;
}
h2{
	color: rgb(0,0,200);
	margin: 0;
	padding: 0;
	font-size: 14pt;
	margin-left: 60px;
}

#container{
	margin-left: auto;
	margin-right: auto;
	margin-top: 30px;
	padding-top: 0px;
	height: auto;
}

.positioncontent
{
    margin-left: auto;
    margin-right: auto;
    width: 100%;
}

.codegenposition
{
    margin-left: auto;
    margin-right: auto;
    width: 500px;
}

.searchtable
{
    /*float: right;*/
}


#login{
	margin-top: 200px;
	margin-left: auto;
	margin-right: auto;
	width: 350px;
	height: auto;
	padding-top: 20px;
}

#header{
	height: 60px;
	margin-top: 10px;
	padding: 5px;
	background-image: url(images/logo-nhv.png);
	background-repeat: no-repeat;
}

#menu{
	height: auto;
	padding: 5px;
}

#content{
	height: auto;
	padding: 5px;
	box-shadow: 2px 2px 8px #444444;
	border-radius: 10px;
	background-color: rgb(255,255,255);
}

#container, #header, #menu, #content
{
    width: 1150px; /*990px;*/
}

table.tablecursists
{
    /*Styling voor tabel in cursists.php*/
}

table.tableforms
{
    /*Styling voor tabel in TussentijdseEvaluatie.php en EintijdEvaluatie.php*/
    margin-left: 10px;
}

table.tableforms td
{
    padding: 5px 0;
}

.center{
	text-align: center;
}

.button{
	height: 25px;
	width: auto;
	background-color: rgb(50,50,255);
	padding-top: 5px;
	padding-left: 15px;
	padding-right: 15px;
	margin-right: 5px;
	margin-bottom: 2px;
	margin-top: 2px;
	text-align: center;
	color: rgb(255,255,255);
	text-decoration: none;
	float: left;
}
.button:hover{
	background-color: rgb(250, 150, 0);
	color: rgb(255,255,255);
	text-decoration: none;
}

.submit{
	height: 25px;
	width: auto;
	background-color: rgb(50,50,255);
	text-align: center;
	color: rgb(255,255,255);
	border: 0;
	text-decoration: none;
}
.submit:hover{
	background-color: rgb(250, 150, 0);
}

.radio1{
	width: 1.5em;
	height: 1.5em;
}

.pageselect{
	float: left;
	display: block;
	background-color: rgb(50,50,255);
	color: rgb(255,255,255);
	width: auto;
	height: auto;
	padding: 2px 5px 2px 5px;
	margin-right: 4px;
}
.pageselect:hover{
	background-color: rgb(250, 150, 0);
	color: rgb(255, 255, 255);
}

.profile{
	float: right; /*Calculate width*/
	text-align: right;
}

.cleft{
	width: 435px;
	height: auto;
	float: left;
	padding-top: 5px;
}

.cright{
	width: 435px;
	height: auto;
	float: right;
	padding-top: 5px;
}

.tcenter{
	margin-left: auto;
	margin-right: auto;
}

.ocenter tr td{
	border: 1px solid gray;
	margin-left: auto;
	margin-right: auto;
}

.clear{
	clear: both;
	width: 0px;
	height: 0px;
}

td.text{
	text-align: right;
}

#codegentablewidth
{
    /*If page has not header function, use width: 580px;*/
}

td.actions
{
    width: 65px; /*<td> tag has to be the same width the images inside require so that they can be placed side by side, instead of on top of each other*/
}

td.actions a
{
    margin-right: 7px;
}

td.string
{
    max-width: 105px;
    word-wrap: break-word;
}
td.date
{
    /**/
}

.positionbtn
{
    margin-top: 20px;
}

.formbtn
{
    padding: 5px;
	background-color: rgb(50,50,255);
	text-align: center;
	color: rgb(255,255,255);
	border: 0;
	text-decoration: none;
    font: normal normal normal 13.3333330154419px/normal Arial; /*User agent style assign this size to input*/
}

a.formbtn:hover
{
    background-color: rgb(250, 150, 0);
    color: rgb(255, 255, 255);
}

.editcursistinfo
{
    /*Don't do anything yet.*/
}

td.titel
{
    font-weight: bold;
}

/*Cody by Barry:*/

#positioncompaniestable
{
    width: 430px; /*Width of table*/
    margin-left: auto;
    margin-right: auto;
}

#companiestable
{
    border-spacing: 5px;
}

#companiestable, #companiestable td
{
    border: 1px solid #1d219d;
}

#companiestable td
{
    margin: 1px;
}

#companiestable td a
{
    display: block;
    padding: 15px;
    color: #ffffff;
    text-align: center;
    background-color: rgb(50, 50, 255);
}

#companiestable td a:hover
{
    background-color: rgb(250, 150 , 0);
}

#coursesposition
{
    width: 270px; /*equals to the amount of content width required*/
    margin-left: auto;
    margin-right: auto;
}

.coursestable, .coursestable td
{
    border: 1px solid #1d219d;
}

.coursestable td a
{
    display: block;
}

.coursestable td.actions a
{
    display: inline;
}

#questions
{
    margin-left: auto;
    margin-right: auto;
    width: 490px;
}

#resultstitle
{
    margin-left: auto;
    margin-right: auto;
    width: 400px;
}